[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-flask = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors="*"
flask-login="*"
flask-session="*"
connexion = {extras = ["swagger-ui"],version = "*"}
alembic = "*"
pymysql = "*"
cryptography = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow-enum = "*"
requests="*"
httplib2="*"
oauth2client="*"
google-auth="*"
facebook-sdk="*"
PyJWT="*"

[requires]
python_version = "3.7"
