-i https://pypi.org/simple/
alembic==1.4.2
attrs==20.2.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
clickclick==20.10.2
connexion[swagger-ui]==2.7.0
cryptography==3.2
facebook-sdk==3.1.0
flask-cors==3.0.8
flask-login==0.5.0
flask-marshmallow==0.12.0
flask-session==0.3.1
flask-sqlalchemy==2.4.1
flask==1.1.2
google-auth==1.14.3
gunicorn==20.0.4
httplib2==0.18.0
idna==2.10
importlib-metadata==2.0.0 ; python_version < '3.8'
inflection==0.5.1
itsdangerous==1.1.0
jinja2==2.11.2
jsonschema==3.2.0
mako==1.1.3
markupsafe==1.1.1
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.23.0
marshmallow==3.8.0
oauth2client==4.1.3
openapi-spec-validator==0.2.9
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pyjwt==1.7.1
pymysql==0.9.3
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
pyyaml==5.3.1
requests==2.23.0
rsa==4.0
six==1.15.0
sqlalchemy==1.3.20
swagger-ui-bundle==0.0.8
urllib3==1.25.11
werkzeug==1.0.1
zipp==3.4.0
